# Godot 4+ specific ignores
.godot/
android/build/build/intermediates/packaged_res/debug/values-zh-rHK/values-zh-rHK.xml
android/build/build/intermediates/packaged_res/debug/values-zh-rTW/values-zh-rTW.xml
android/build/build/intermediates/packaged_res/debug/values-zh/values-zh.xml
android/build/build/intermediates/packaged_res/debug/values/values.xml
android/build/build/intermediates/processed_res/debug/out/output-metadata.json
android/build/build/intermediates/processed_res/debug/out/resources-debug.ap_
android/build/build/intermediates/project_dex_archive/debug/out/b543b017112791736f82fe041b5c99e6863265f4e41645b9892d16c01758382a_0.jar
android/build/build/intermediates/project_dex_archive/debug/out/b543b017112791736f82fe041b5c99e6863265f4e41645b9892d16c01758382a_1.jar
android/build/build/intermediates/project_dex_archive/debug/out/b543b017112791736f82fe041b5c99e6863265f4e41645b9892d16c01758382a_2.jar
android/build/build/intermediates/project_dex_archive/debug/out/b543b017112791736f82fe041b5c99e6863265f4e41645b9892d16c01758382a_3.jar
android/build/build/intermediates/project_dex_archive/debug/out/b543b017112791736f82fe041b5c99e6863265f4e41645b9892d16c01758382a_4.jar
android/build/build/intermediates/project_dex_archive/debug/out/b543b017112791736f82fe041b5c99e6863265f4e41645b9892d16c01758382a_5.jar
android/build/build/intermediates/project_dex_archive/debug/out/com/godot/game/GodotApp.dex
android/build/build/intermediates/runtime_symbol_list/debug/R.txt
android/build/build/intermediates/signing_config_versions/debug/signing-config-versions.json
android/build/build/intermediates/source_set_path_map/debug/file-map.txt
android/build/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
android/build/build/intermediates/stripped_native_libs/debug/out/lib/arm64-v8a/libc++_shared.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/arm64-v8a/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/armeabi-v7a/libc++_shared.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/armeabi-v7a/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/x86/libc++_shared.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/x86/libgodot_android.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/x86_64/libc++_shared.so
android/build/build/intermediates/stripped_native_libs/debug/out/lib/x86_64/libgodot_android.so
android/build/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
android/build/build/outputs/apk/debug/android_debug.apk
android/build/build/outputs/apk/debug/output-metadata.json
android/build/build/outputs/logs/manifest-merger-debug-report.txt
android/build/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
android/build/gradlew
android/build/res/mipmap-hdpi-v4/icon.png
android/build/res/mipmap-hdpi-v4/icon_foreground.png
android/build/res/mipmap-mdpi-v4/icon.png
android/build/res/mipmap-mdpi-v4/icon_foreground.png
android/build/res/mipmap-xhdpi-v4/icon.png
android/build/res/mipmap-xhdpi-v4/icon_foreground.png
android/build/res/mipmap-xxhdpi-v4/icon.png
android/build/res/mipmap-xxhdpi-v4/icon_foreground.png
android/build/res/mipmap-xxxhdpi-v4/icon.png
android/build/res/mipmap-xxxhdpi-v4/icon_foreground.png
android/build/res/mipmap/icon.png
android/build/res/mipmap/icon_foreground.png
assets/original/coin.png
assets/original/coinGlow.png
assets/original/spikeGlow.png
*.apk
/android/build
android/build/libs/debug/godot-lib.template_debug.aar
/android/build
/android/build/libs
/android/build/libs/debug
/android/build/res/mipmap
key.keystore
android/build/libs/debug/godot-lib.template_debug.aar
android/build/libs/debug/godot-lib.template_debug.aar
android/build/libs/release/godot-lib.template_release.aar
